body {
  font-family: Arial, sans-serif;
  background-color: #e7e0f4;
  margin: 0;
  padding: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
}
