.Meaning h3 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: bold;
}

.Meaning .Example {
  font-size: 14px;
  font-style: italic;
  color: #387676;
  margin-top: 5px;
  opacity: 0.7;
}

.Meaning .Synonyms {
  margin-top: 10px;
  font-size: 14px;
  color: #b552d0;
  font-family: "Courier New", Courier, monospace;
}

.Meaning .Definition {
  margin-top: 10px;
  font-size: 16px;
  color: #a9a8a1;
}
